body{
    background-color: #424B54;
}

h1{
    margin: 30px auto;
}

dl{
    text-align: center;
}

.create-btn{
    width: 150px;
    text-align: center;
    margin-top: 1rem;
}

dt{
    margin-top: 1rem;
}

.search-area {
    position: relative;
    padding: .75rem 1.25rem;
    margin: 1rem auto;
    border: 1px solid transparent;
    border-radius: .25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #90EE90;
    width: 450px;
}

.search-result {
    width: 960px;
    margin: 0 auto 20px;
    position: relative;
    padding: 30px 30px;
    border: 1px solid transparent;
    border-radius: .25rem;
    background-color: #CCCCCC;
}

dl{
    color: #fff;
}

.isbn-search{
    color: #fff;
}

.flash{
    width: 450px;
    margin: 0 auto;
}