header{
    justify-content: space-between;
    padding: 30px 4% 10px;
    align-items: center;
}

.header-a{
  text-decoration: none;
  color: #90ee90;
}

.navigation{
    list-style: none;
}

.navigation li{
    margin: 0 0 0 15px;
    font-size: 14px;
}


.brand{
    margin-right: 35%;
    padding: 0;
    font-size: 40px;
}

.navigation{
    margin-bottom: 0;
    display: flex;
}

.container.header{
    display: flex;
    justify-content: center;
    align-items: center;
}
