h1 {
    color: #90ee90;
    font-size: 55px;
    letter-spacing: 0.07em;
    text-align: center;
    font-family: 'Sawarabi Mincho', sans-serif;
}

p {
    text-align: center;
}

.login-text {
    letter-spacing: 0.05em;
    font-size: 40px;
}

@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');

body {
    margin: 0 auto;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

p.logo1 img {
    position: relative; top:0;
    width: 8%;
    height: auto;
    margin: 0 auto;
}

  input {
      border: 1px solid #90ee90;
  }

  input:focus {
      border: 1px solid #90ee90;
      outline: 0;
  }

  header {
      display: none;
  }

  div {
    margin-top: 100px;
}

.reg-btn {
    width: 150px;
}